/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #d8f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/* Main Menu */
.menu-container {
    text-align: center;
}

h1 {
    font-size: 4rem;
    color: #ffffff;
}

.game-selection {
    margin-top: 20px;
}

.game-option {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.5rem;
    text-decoration: none;
    background-color: #6388df;
    color: white;
    border-radius: 10px;
    transition: 0.3s;
}

.game-option:hover {
    background-color: #3458a6;
}

/* Clicker Game */
.game-container {
    text-align: center;
}

.clicker-title {
    margin-top: 20px;
}

.score-display {
    font-size: 1.5rem;
    margin: 20px 0;
    color: #333333;
}

#clicker-button {
    padding: 15px 30px;
    font-size: 1.5rem;
    background-color: #6388df;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

#clicker-button:hover {
    background-color: #597ac7;
}

/* Upgrades and rewards */
#upgrades {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #555;
}